.employee-form {
  .grid-form {
    margin-bottom: 15px;
    .form-submit {
      width: 100px;
      align-self: center;
    }
    .form-group {
      min-height: 85px;
    }
    .address-fieldset {
      padding: 10px;
      text-align: center;
      margin-bottom: 10px;
    }
    .employee-data {
      display: flex;
      flex-direction: column;
    }
  }
}
